@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Roboto, sans-serif;
}

body {
    height: 80vh;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 50px;

}

.scores {
    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#player,
#computer {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;

    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 100px;

    max-width: 250px;

    ma   
}

#playerName,
#computerName {
    font-weight: bold;
    font-size: large;
}

#playerWins,
#computerWins {

    font-size: xx-large;
}

.h3 {
    font-weight: bold;
}

.buttons {
    flex-grow: 0;
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 50px;

    size: 100%;
}

.buttons > button {
    border-style: none;
    border-radius: 10px;
    background: none;

    background-position: center center;
    background-repeat: no-repeat;

    cursor:pointer;

    flex:1;

    margin: 10px;

}

.icon{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.info {
    flex: 1;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.reset {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reset button {
    padding: 40px;

    font-size: large;
    font-weight: bold;
    color: white;
    background: none;

    border-style: solid;
    border-radius: 10px;

    cursor:pointer;
}